.logo {
    height: 32px;
}

.container {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0F0F0;
}

.container-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 140px;
}

.shop-name {
    padding: 0px 48px;
}


.content-page {
    padding: 48px 48px 0px 48px;
    min-height: calc(100vh -140px);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}